{% extends "layouts/_default.twig" %}

{% block pageName %}
Create a new Planet
{% endblock %}

{% block content %}

    {% include "planets/_form.twig" %}

  <p><a href="/planets">Go back</a></p>
{% endblock %}

