{% extends "layouts/_default.twig" %}

{% block pageName %}
 <h2 class="creattitle">Create a new Planet</h2>
{% endblock %}

{% block content %}

    {% include "planets/_form.twig" %}


  <p><a href="/planets">Go back</a></p>
{% endblock %}

