{% extends "layouts/_default.twig" %}

{% block pageName %}
Create a new Star
{% endblock %}

{% block content %}

    {% include "stars/_form.twig" %}


  <p><a href="/stars">Go back</a></p>
{% endblock %}
