{% extends "layouts/_default.twig" %}

{% block pageName %}
   <h2 class="creattitle">Create a new Star</h2>
{% endblock %}

{% block content %}

    {% include "stars/_form.twig" %}


  <p><a href="/stars">Go back</a></p>
{% endblock %}
