{% extends "layouts/_default.twig" %}

{% block pageName %}
Edit Star
{% endblock %}

{% block content %}

    <input type="hidden" name="_method" value="PATCH">
    {% include "stars/_form.twig" %}


  <p><a href="/stars">Go back</a></p>
{% endblock %}