{% extends "layouts/_default.twig" %}

{% block pageName %}
<h2 class="creattitle">Create a new Galaxy</h2>
{% endblock %}

{% block content %}

    {% include "galaxies/_form.twig" %}


  <p><a href="/galaxies">Go back</a></p>
{% endblock %}

