{% extends "layouts/_default.twig" %}

{% block pageName %}
Create a new Galaxy
{% endblock %}

{% block content %}

    {% include "galaxies/_form.twig" %}

  <p><a href="/galaxies">Go back</a></p>
{% endblock %}

