{% extends "layouts/_default.twig" %}

{% block content %}
<h1>Galaxies</h1>
{% for galaxy in galaxies  %}
<h3>{{ galaxy.name }}</h3>
<ul>
<li><strong>size:</strong> {{ galaxy.size }}</li>
<li><strong>description:</strong> {{ galaxy.description }}</li>
</ul>
{% endfor %}

<a href="/">← Back to Home</a>

{% endblock %}