<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
  <title>{% block pageName %}Star Tracker{% endblock %}</title>
  <link rel="stylesheet" href="/styles.css">
  <link rel="stylesheet" href="https://use.typekit.net/lwf3ctk.css">
{% include 'partials/header.twig' %}
</head>
<body>
{% include 'partials/navbar.twig' %}
  <h1>{% block pageName %}{% endblock %}</h1>
    {% block content %}
    {% endblock %}
</body>
</html>