<!DOCTYPE html>
<html>
<head>
  <title>{{ title | default('Star Tracker') }}</title>
  <link rel="stylesheet" href="/styles.css">
{% include 'partials/header.twig' %}
</head>
<body>
{% include 'partials/navbar.twig' %}
    {% block content %}
    {% endblock %}
{% include 'partials/footer.twig' %}
</body>
</html>