<!DOCTYPE html>
<html>
<head>
{% include 'partials/header.twig' %}
</head>
<body>
{% include 'partials/navbar.twig' %}
    {% block content %}
    {% endblock %}
{% include 'partials/footer.twig' %}
</body>
</html>